<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <title>Nome do Projeto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="Stylesheet" href="../css/reset.css">
        <link rel="Stylesheet" href="../css/operacao.css">
    </head>
    <body>
        <section class="container-form">
            <form class="form" id="contactForm">
              
                <div class="titulo form-div">
                    <h1>Dados do Vendedor</h1>
                </div>
              
                <div class="form-div">
                  <!-- <label class="form-label" for="nome-vendedor">Nome do Vendedor/Funcionário</label> -->
                    <input class="form-input" type="text" id="nome-vendedor" name="nome-vendedor" placeholder="Nome do Vendedor">
                </div>

                <div class="form-div">
                <!-- <label class="form-label" for="nome-vendedor">Nome do Vendedor/Funcionário</label> -->
                    <input class="form-input" type="email" id="email-vendedor" name="email-vendedor" placeholder="Email do Vendedor">
                </div>

                <div class="form-div space">
                <!-- <label class="form-label" for="nome-vendedor">Nome do Vendedor/Funcionário</label> -->
                    <input class="form-input" type="tel" id="telefone-vendedor" name="telefone-vendedor" placeholder="Telefone do Vendedor (DDD) XXXXX-XXXX">
                </div>

                <div class="titulo form-div">
                    <h1>Dados do Comprador</h1>
                </div>
              
                <div class="form-div">
                    <!-- <label class="form-label" for="nome-comprador">Nome do Comprador/Cliente</label> -->
                    <input class="form-input linha" type="text" id="nome-comprador" name="nome-comprador" placeholder="Nome do Comprador">
                </div>            
              
                <div class="form-div">
                    <!-- <label class="form-label" for="email-comprador">E-mail do Comprador/Cliente</label> -->
                    <input class="form-input" type="email" id="email-comprador" name="email-comprador" placeholder="Email do Comprador">
                </div>

                <div class="form-div">
                    <!-- <label class="form-label" for="telefone-comprador">Telefone do Comprador/Cliente</label> -->
                    <input class="form-input space" type="tel" id="telefone-comprador" name="telefone-comprador" placeholder="Telefone Comprador (DDD) XXXXX-XXXX">
                </div>
              
                
                <div class="titulo form-div">
                    <h1>Dados do Produto/Serviço</h1>
                </div>
                
                <div class="form-div">
                    <!-- <label class="form-label" for="produto">Produto</label> -->
                    <input class="form-input" type="text" id="produto" name="produto" placeholder="Descrição do Produto">
                    <!-- <label class="form-label" for="quantidade">Quantidade</label> -->
                    <input class="form-input form-quantidade" type="number" id="quantidade" name="quantidade" placeholder="Quantidade">
                    <!-- <label class="form-label" for="valor">Valor</label> -->
                    <input class="form-input form-valor" id="valor" name="valor" placeholder="R$: Valor (Apenas números)">
                </div>
              
                <div class="form-div form-datas">
                    <!-- <label class="form-label" for="data-compra">Data da Compra: </label> -->
                    <input class="form-input space" type="date" id="data-compra" name="data-compra">
                </div>

                <div class="titulo form-div">
                    <h1>Informações da Entrega</h1>
                </div>
                
                <div class="form-div">
                    <!-- <label class="form-label" for="data-entrega">Previsão de Entrega</label> -->
                    <input class="form-input" type="text" id="rua-entrega" name="rua-entrega" placeholder="Rua/Logradouro">
                    <input class="form-input" type="text" id="numero-entrega" name="numero-entrega" placeholder="Nº">
                    <input class="form-input" type="text" id="cep-entrega" name="cep-entrega" placeholder="CEP">
                    <input class="form-input" type="text" id="estado-entrega" name="estado-entrega" placeholder="Estado">
                    <input class="form-input" type="text" id="cidade-entrega" name="cidade-entrega" placeholder="Cidade">
                    <input class="form-input space" type="date" id="data-entrega" name="data-entrega">
                </div>

                <div class="titulo form-div">
                    <h1>Informações Adicionais</h1>
                </div>
              
                <div class="form-div">
                    <!-- <label class="form-label" for="observacoes">Observações</label> -->
                    <input class="form-input space" type="text" id="observacoes" name="observacoes" placeholder="Observações">
                </div>
              
                <div class="form-div submit">
                    <button class="submit" type="submit" onclick="download()">Gerar Ordem de Serviço</button>
                </div>


            </form>
        </section>

        <script src="script.js"></script>
        <script src="../js/FileSaver.js-master/src/FileSaver.js"></script>
        <script>

            const saveAs = require("./FileSaver");
            import { saveAs } from 'file-saver';

        </script>

        <script>
            function download() {
                alert("Ordem de Serviço gerada com sucesso");

                //-------------- DADOS DO VENDEDOR -------------
                var nomeVendedor = document.getElementById("nome-vendedor").value;
                var emailVendedor = document.getElementById("email-vendedor").value;
                var telefoneVendedor = document.getElementById("telefone-vendedor").value;

                //-------------- DADOS DO COMPRADOR -------------
                var nomeComprador = document.getElementById("nome-comprador").value;
                var emailComprador = document.getElementById("email-comprador").value;
                var telefoneComprador = document.getElementById("telefone-comprador").value;                
                
                //----------- DADOS DO PRODUTO/SERVIÇO ----------
                var produto = document.getElementById("produto").value;
                var quantidade = document.getElementById("quantidade").value;
                var valor = document.getElementById("valor").value;
                var dataCompra = document.getElementById("data-compra").value;

                //------------ INFORMAÇÕES DA ENTREGA -----------
                var ruaEntrega = document.getElementById("rua-entrega").value;
                var numEntrega = document.getElementById("numero-entrega").value;
                var cepEntrega = document.getElementById("cep-entrega").value;
                var estadoEntrega = document.getElementById("estado-entrega").value;
                var cidadeEntrega = document.getElementById("cidade-entrega").value;
                var dataEntrega = document.getElementById("data-compra").value;
                
                //------------ INFORMAÇÕES ADICIONAIS -----------
                var observacoes = document.getElementById("observacoes").value;

                var blob = new Blob(["---------------- ORDEM DE SERVIÇO --------------- \n \n", 
                
                "\n---------------- DADOS DO VENDEDOR -------------- \n \n Nome do Vendedor: ",
                nomeVendedor, "\n Email do Vendedor: ",
                emailVendedor, "\n Telefone do Vendedor: ",
                telefoneVendedor, "\n",

                "\n--------------- DADOS DO COMPRADOR -------------- \n", "\n Nome do Comprador: ",
                nomeComprador, "\n Email do Comprador: ",
                emailComprador, "\n Telefone do Comprador: ",
                telefoneComprador, "\n",

                "\n------------ DADOS DO PRODUTO/SERVIÇO ----------- \n", "\n Produto: ",
                produto, "\n Quantidade: ",
                quantidade, "\n Valor R$: ",
                valor, "\n Data da Compra: ",
                dataCompra, "\n", 
            
                "\n------------- INFORMAÇÕES DA ENTREGA ------------ \n", "\n Rua: ",
                ruaEntrega, "\n Nº: ",
                numEntrega, "\n CEP: ",
                cepEntrega, "\n Estado: ",
                estadoEntrega, "\n Cidade: ",
                cidadeEntrega, "\n Data da Entrega: ",
                dataEntrega, "\n",

                "\n------------- INFORMAÇOES ADICIONAIS ------------ \n",
                "\n Observações: ",
                observacoes,],


                {type: "text/plain;charset=utf-8"});
                saveAs(blob, nomeComprador);
            }
        </script>

      <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
      <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js"></script>  

      <script>
          var firebaseConfig = {
              apiKey: "AIzaSyBmBhZA9fplxo9JM6BgRVSJ0WFMdCWvBws",
              authDomain: "fir-database-teste-89243.firebaseapp.com",
              databaseURL: "https://fir-database-teste-89243-default-rtdb.firebaseio.com",
              projectId: "fir-database-teste-89243",
              storageBucket: "fir-database-teste-89243.appspot.com",
              messagingSenderId: "581705673301",
              appId: "1:581705673301:web:81766bee4068af5f8542dc",
            };

          firebase.initializeApp(firebaseConfig);

          var messagesRef = firebase.database().ref('Collected Data');

          document.getElementById('contactForm').addEventListener('submit', submitForm);

          function submitForm(e) {
              e.preventDefault();

          //-------------- DADOS DO VENDEDOR -------------
          var nomeVendedor = getInputVal("nome-vendedor");
          var emailVendedor = getInputVal("email-vendedor");
          var telefoneVendedor = getInputVal("telefone-vendedor");

          //-------------- DADOS DO COMPRADOR -------------
          var nomeComprador = getInputVal("nome-comprador");
          var emailComprador = getInputVal("email-comprador");
          var telefoneComprador = getInputVal("telefone-comprador");                
                
          //----------- DADOS DO PRODUTO/SERVIÇO ----------
          var produto = getInputVal("produto");
          var quantidade = getInputVal("quantidade");
          var valor = getInputVal("valor");
          var dataCompra = getInputVal("data-compra");

          //------------ INFORMAÇÕES DA ENTREGA -----------
          var ruaEntrega = getInputVal("rua-entrega");
          var numEntrega = getInputVal("numero-entrega");
          var cepEntrega = getInputVal("cep-entrega");
          var estadoEntrega = getInputVal("estado-entrega");
          var cidadeEntrega = getInputVal("cidade-entrega");
          var dataEntrega = getInputVal("data-compra");
                
          //------------ INFORMAÇÕES ADICIONAIS -----------
          var observacoes = getInputVal("observacoes");


          saveMessage(nomeVendedor, emailVendedor, telefoneVendedor, nomeComprador, emailComprador, telefoneComprador, produto, quantidade, valor, dataCompra, ruaEntrega, numEntrega, cepEntrega, estadoEntrega, cidadeEntrega, dataEntrega, observacoes);

          document.getElementById('contactForm').reset();

        }

        // Function to get get form values
        function getInputVal(id) {
            return document.getElementById(id).value;
        }

        // Save message to firebase
        function saveMessage(nomeVendedor, emailVendedor, telefoneVendedor, nomeComprador, emailComprador, telefoneComprador, produto, quantidade, valor, dataCompra, ruaEntrega, numEntrega, cepEntrega, estadoEntrega, cidadeEntrega, dataEntrega, observacoes) {
          var newMessageRef = messagesRef.push();
              newMessageRef.set({

                  nomeVendedor: nomeVendedor,
                  emailVendedor: emailVendedor,
                  telefoneVendedor: telefoneVendedor,

                  nomeComprador: nomeComprador,
                  emailComprador: emailComprador,
                  telefoneComprador: telefoneComprador,

                  produto: produto,
                  quantidade: quantidade,
                  valor: valor,
                  dataCompra: dataCompra,

                  ruaEntrega: ruaEntrega,
                  numEntrega: numEntrega,
                  cepEntrega: cepEntrega,
                  estadoEntrega: estadoEntrega,
                  cidadeEntrega: cidadeEntrega,
                  dataEntrega: dataEntrega,

                  observacoes: observacoes,
        });
      }
    </script>
  </body>
</html>
