body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2em 2em 0 2em;
  }
  
  .form-container {
      width: 25em;
  }
  
  .container-login {
      display: flex;
      width: 33%;
      height: 70%;
      margin: auto;
      justify-content: center;
      align-items: center;
  }
  
  .acesso-ao-sistema h1 {
      color: black;
      font-size: 1.7em;
      font-weight: bold;
      padding: 1em;
  }
  
  .form-label {
      font-size: 1em;
      padding: 1em;
  }
  
  .form-logo {
      padding: 1em;
  }
  
  .form {
      color: white;
      padding: 1em;
      display: grid;
  }
  
  .form-submit {
      color: white;
      background-color: rgb(61, 153, 200);
      border-radius: 32px;
  }
  
  .form-submit:hover {
      background-color: rgb(111, 179, 215);
  }
  
  .rodape {
      color: white;
      text-align: center;
      padding: 2em 2em 0 2em;
  }
  
  .rodape p {
      padding: 1em;
  }
  
  .alinhar {
      display: flex;
  }
  
  .icon {
      height: 50px;
      width: 50px;
      padding: 0 1em 0 0;
  }
  
  .logo {
      height: 100px;
      width: 200px;
      padding: 0 1em 0 0;
  }

.botao {
    padding: 1em 4em;
    border: solid blue 1px;
    border-radius: 24px;
}

.botao:hover {
    background-color: rgb(111, 179, 215);
    padding: 1em 7em;
    transition: 1s;
}

p {
    font-family: monospace;
    border-right: 4px solid;
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(10),
    blinking 0.5s infinite step-end alternate;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video {
        width: auto;
        height: 100%;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

@keyframes esmaecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.ocultar {
    display: none;
}

#userLogin {
    animation: esmaecer ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
