body {
    width: 50em;
    margin: auto;
    background: linear-gradient(80deg, #e4ffe8 0%, #d3e8ff 90%);
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */
}

.rodape, .cabecalho {
    display: flex;
    justify-content:center; 
    padding: 2em 0 2em 0;
    color: black;
    font-family: monospace;
    align-items: center;
}

.rodape {
    display: flex;
    flex-direction: column-reverse;
}

.rodape p {
    padding: 1em 0 1em 0;
}

p {
    text-align: center;
}

.sanfona-elemento {
    border-bottom: 1px solid #ccc;
}   
  
.sanfona-elemento label {
    display: block;
    cursor: pointer;
    padding: 12px;
    /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    background-color: #b6d9ff;
    margin: 1em;
}
  
.sanfona-elemento .conteudo {
    display: none;
    padding: 12px;
}
  
input[type="checkbox"] {
    display: none;
}
  
input[type="checkbox"]:checked + label + .conteudo {
    display: block;
    border: groove;
}

.input {
    width: 50em;
    margin: 1em;
}

.btn {
    text-align: center;
}

.botao {
    padding: 1em 4em 1em 4em;
    margin-top: 1em;
    border-radius: 24px;
    background-color: #b6d9ff;
}

.botao:hover {
    background-color: rgb(111, 179, 215);
    transition: 1s;
}

@media (max-width: 920px) {

    body {
        width: 100vw;
        margin: auto;
    }
    
    .sanfona-elemento {
        border-bottom: 1px solid #ccc;
    }
      
    .sanfona-elemento label {
        display: block;
        cursor: pointer;
        padding: 12px;
        background-color: #b6d9ff;
    }
      
    .sanfona-elemento .conteudo {
        display: none;
        padding: 12px;
    }
      
    input[type="checkbox"] {
        display: none;
    }
      
    input[type="checkbox"]:checked + label + .conteudo {
        display: block;
        border: groove;
    }
    
    .input {
        width: 20em;
        margin: 1em;
    }
  }
