body {
    background-image: url(../svg/background\ green.svg);
    height: 100vh;
}

form {
    width: 80%;
}

.container-form {
    color: orange;
    background-color: rgb(111,111,111);
    border: solid;
    border-color: white;
    /* border-radius: 24px; */
    box-shadow: 5px 5px 5px white;
    padding: 1em;
    width: 40em;
    height: 70em;
    margin: auto;
    display: flex;
}

.form {
    display: grid;
    margin: auto;
}

.titulo {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0em 1em 1em 1em;
    border: solid white 1px;
    border-radius: 24px;
}

.form-label {
    font-size: 1.2em;
    font-weight: bold;
}

.form-input {
    font-size: 1em;
    /* padding: 0.7em; */
    /* border-radius: 10px; */
    color: white;
    border-bottom: 1px white solid;
}

.form-quantidade {
    width: 240px;
    height: 15px;
}

.form-valor {
    width: 240px;
    height: 15px;
}

.form-div {
    padding: 0.2em;
}

label {
  color: #fff;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ffffff;
}

input {
    color: white;
    font-size: 28px;
    width: 100%;
    padding: 20px 5px 5px;
    background-color: rgb(111,111,111);
    border: none;
}

::-webkit-input-placeholder {
   color: white;
}

.space {
    margin-bottom: 20px;
}

.submit {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.form-datas {
    display: flex;
}
